<h1><%= @question.title %></h1>

<p><%= @question.body %></p>
<p>View count: <%= @question.view_count %></p>
<p>Created by: <%= @question.user_full_name.titleize %></p>
<% if can? :update, @question %>
  <%= link_to "Edit", edit_question_path(@question) %>
<% end %>
<% if can? :delete, @question%>
  <%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "U sure about this holmes?"} %>
<% end %>

<% if user_like %>
  <%= link_to "Un-like", question_like_path(@question, user_like), method: :delete %>
<% else %>
  <%= link_to "Like", question_likes_path(@question), method: :post %>
<% end %>
(<%= @question.likes.count %>) | <br>
 <br>

<% user_vote = @question.vote_for(current_user) %>
<% if user_vote && user_vote.is_up? %>
  <%= link_to question_vote_path(@question, user_vote), method: :delete do %>
    <div class="arrow-up-yes"></div>
    <% end  %>
    <div class="">
      <%= (@question.vote_value) %>
    </div>

  <%= link_to question_vote_path(@question, user_vote, {vote: {is_up: false}}), method: :patch do %>
    <div class="arrow-down"></div>
    <% end  %>

<% elsif user_vote %>
  <%= link_to question_vote_path(@question, user_vote, {vote: {is_up: true}}), method: :patch do %>
    <div class="arrow-up"></div>
    <% end  %>
    <div class="">
      <%= (@question.vote_value) %>
    </div>

  <%= link_to question_vote_path(@question, user_vote), method: :delete do %>
    <div class="arrow-down-yes"></div>
    <% end  %>

<% else %>
  <%= link_to question_votes_path(@question, {vote: {is_up: true}}), method: :post do %>
    <div class="arrow-up"></div>
    <% end  %>
    <div class="">
      <%= (@question.vote_value) %>
    </div>

  <%= link_to question_votes_path(@question, {vote: {is_up: false}}), method: :post do %>
    <div class="arrow-down"></div>
    <% end  %>
<% end %>

<hr>

<%= @answer.errors.full_messages.join(", ") %>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>

<h2>Answers</h2>
<% @poop = 0 %>
<% @question.answers.each do |ans| %>
  Answer <%= @poop += 1 %>: <%= ans.body %>
  by: <%= @question.user_full_name.titleize %>
  <% if can? :destroy, ans %>
    <%= button_to "Delete answer", [@question, ans], method: :delete, data: {confirm: "U sure about this holmes?"} %>
  <% end %>
  <hr>
<% end %>
